<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dp.hodgepodge.dao.NewsDao">
    <resultMap id="NewsEntity" type="com.dp.hodgepodge.entity.NewsEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="news_title" jdbcType="VARCHAR" property="news_title"/>
        <result column="news_links" jdbcType="VARCHAR" property="news_links"/>
        <result column="news_plays" jdbcType="INTEGER" property="news_plays"/>
        <result column="news_type_id" jdbcType="INTEGER" property="news_type_id"/>
        <result column="news_rhesis_ch" jdbcType="VARCHAR" property="news_rhesis_ch"/>
        <result column="news_rhesis_en" jdbcType="VARCHAR" property="news_rhesis_en"/>
        <result column="news_author" jdbcType="VARCHAR" property="news_author"/>
        <result column="news_production" jdbcType="VARCHAR" property="news_production"/>
        <result column="news_img" jdbcType="VARCHAR" property="news_img"/>
        <result column="news_variety" jdbcType="INTEGER" property="news_variety"/>
        <result column="news_lives" jdbcType="INTEGER" property="news_lives"/>
        <result column="news_collects" jdbcType="INTEGER" property="news_collects"/>
        <result column="news_musci_path" jdbcType="VARCHAR" property="news_musci_path"/>
        <result column="news_musci_author" jdbcType="VARCHAR" property="news_musci_author"/>
        <result column="news_music_name" jdbcType="VARCHAR" property="news_music_name"/>
        <result column="news_time" jdbcType="VARCHAR" property="news_time"/>
    </resultMap>

<!--    类型-->
    <resultMap id="NewsTypeEntity" type="com.dp.hodgepodge.entity.NewsTypeEntity">
        <id column="news_type_id" jdbcType="INTEGER" property="news_type_id"/>
        <result column="news_type_name" jdbcType="VARCHAR" property="news_type_name"/>
        <result column="news_type_desc" jdbcType="VARCHAR" property="news_type_desc"/>
    </resultMap>

    <select id="queryNewsAll" resultMap="NewsEntity">
        select *  from news
    </select>
    <select id="queryNewsType" resultMap="NewsTypeEntity">
        select *  from news_type
    </select>
<!--    根据Id 查询-->
    <select id="queryNewsByTypeId" resultMap="NewsEntity">
                select *  from news where news_type_id=#{news_type_id}
    </select>
</mapper>