<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dp.hodgepodge.dao.UserDao">
    <resultMap id="UserEntivity" type="com.dp.hodgepodge.entity.UserEntivity">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_phone" jdbcType="VARCHAR" property="userPhone"/>
        <result column="user_pwd" jdbcType="INTEGER" property="userPwd"/>
        <result column="user_mail" jdbcType="INTEGER" property="userMail"/>
        <result column="user_image" jdbcType="VARCHAR" property="userImage"/>
        <result column="user_sex" jdbcType="VARCHAR" property="userSex"/>
        <result column="user_desc" jdbcType="VARCHAR" property="userDesc"/>
        <result column="user_state" jdbcType="INTEGER" property="userState"/>
        <result column="user_token" jdbcType="INTEGER" property="userToken"/>
    </resultMap>
    <!--  注册 -->
    <insert id="userReg" parameterType="com.dp.hodgepodge.entity.UserEntivity">
        <selectKey resultType="int" order="AFTER" keyProperty="userId">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user(user_name,user_phone,user_pwd,user_mail,user_image)
        values
        (#{userName},#{userPhone},#{userPwd},#{userMail},#{userImage})
    </insert>
    <!--注册之前根据用户名查下-->
    <select id="queryUserByPhone" resultType="int">
        select count(*)  from user where user_phone=#{phone}
    </select>
    <!--   登录查询-->
    <select id="userLogin"  resultMap="UserEntivity" >
        select *  from user where user_phone=#{phone} and user_pwd=#{pwd}
    </select>



    <!--  修改密码之前检查密码查询-->
    <select id="checkPhoneOrPwd" resultType="int" >
        select  count(*)  from user where user_phone=#{phone} and user_pwd=#{pwd}
    </select>
    <!-- 修改用户信息 UPDATE table_name SET field1=new-value1, field2=new-value2
[WHERE Clause] -->
    <update id="updateUserPwd" >
            update user set  user_pwd=#{newPwd} where user_phone=#{phone} and user_pwd=#{pwd}
    </update>
<!-- 更新token-->
    <update id="updateToken">
          update user set  user_token=#{token} where user_phone=#{phone} and user_pwd=#{pwd}
    </update>
<!--  验证token-->
    <select id="selectToken" resultType="int">
         select  count(*)  from user where user_token=#{token}
    </select>

</mapper>