<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dp.hodgepodge.dao.UserDao">
    <resultMap id="UserEntivity" type="com.dp.hodgepodge.entity.UserEntivity">
        <id column="user_id" jdbcType="INTEGER" property="user_id"/>
        <result column="user_name" jdbcType="VARCHAR" property="user_name"/>
        <result column="user_phone" jdbcType="VARCHAR" property="user_phone"/>
        <result column="user_pwd" jdbcType="INTEGER" property="user_pwd"/>
        <result column="user_mail" jdbcType="INTEGER" property="user_mail"/>
        <result column="user_image" jdbcType="VARCHAR" property="user_image"/>
        <result column="user_sex" jdbcType="VARCHAR" property="user_sex"/>
        <result column="user_desc" jdbcType="VARCHAR" property="user_desc"/>
        <result column="user_state" jdbcType="INTEGER" property="user_state"/>
    </resultMap>
    <!--  注册 -->
    <insert id="userReg" parameterType="com.dp.hodgepodge.entity.UserEntivity">
        <selectKey resultType="int" order="AFTER" keyProperty="user_id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user(user_name,user_phone,user_pwd,user_mail,user_image)
        values
        (#{user_name},#{user_phone},#{user_pwd},#{user_mail},#{user_image})
    </insert>
    <!--注册之前根据用户名查下-->
    <select id="queryUserByPhone" resultType="int">
        select count(*)  from user where user_phone=#{user_phone}
    </select>
    <!--   登录查询-->
    <select id="userLogin" resultType="com.dp.hodgepodge.entity.UserEntivity">
        select *  from user where user_phone=#{user_phone}
    </select>
    <!-- 修改用户信息 UPDATE table_name SET field1=new-value1, field2=new-value2
[WHERE Clause] -->
    <select id="updateUser" resultType="com.dp.hodgepodge.entity.UserEntivity">
    update user set  user_pwd=#{user_pwd} where user_phone=#{user_phone}
 </select>
</mapper>